//hide
#body .hide {
    display: none;
}

//help
.help {
    border-bottom: dashed 1px $color-6;
    cursor: help;
}

.block-center {
    @extend %block-center;
}

.block-center-x {
    @extend %block-center-x;
}


.block-center-y {
    @extend %block-center-y;
}

.img-center {
    @extend %img-center;
}

.img-center-cover-x {
    width: 100% !important;
    height: auto !important;
    max-width: 999px !important;
    max-height: 999px !important;
}

.img-center-cover-y {
    width: auto !important;
    height: 100% !important;
    max-width: 999px !important;
    max-height: 999px !important;
}

.clearfix {
    @extend %clearfix;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.singleline {
    @extend %singleline;
}

.multiline-2 {
    @include multiLineEllipsis($lineHeight: 1.618em, $lineCount: 2, $bgColor: white, $offset: 1em);
}

.multiline-3 {
    @include multiLineEllipsis($lineHeight: 1.618em, $lineCount: 3, $bgColor: white, $offset: 1em);
}

.multiline-4 {
    @include multiLineEllipsis($lineHeight: 1.618em, $lineCount: 4, $bgColor: white, $offset: 1em);
}

.multiline-5 {
    @include multiLineEllipsis($lineHeight: 1.618em, $lineCount: 5, $bgColor: white, $offset: 1em);
}

//list disc
.list-disc {
    list-style: disc inside;
}


[class^="icon-"],
[class*=" icon-"] {
    @extend %icon;
}

[disabled], .disabled {
    pointer-events: none !important;
}