%btn-color {
  &.default {
    background-color: $color-f;
    color: $color-3;
    box-shadow: 0 0 0 1px $color-border;

    &.active {
      background-color: $color-3;
      color: $color-f;
    }
  }

  &.orange {
    background-color: $color-f;
    box-shadow: 0 0 0 1px $color-border;
    color: $color-warning;

    &.active {
      background-color: $color-warning;
      color: $color-f;
      box-shadow: 0 0 0 1px $color-warning;
    }
  }

  &.link {
    background-color: $color-f;
    box-shadow: 0 0 0 1px $color-e;
    color: $color-main;

    &.active {
      background-color: $color-main;
      color: $color-f;
      box-shadow: 0 0 0 1px $color-main;
    }
  }
}

%btn {
  @include singleline();
  display: block;
  min-width:$form-size-default;
  padding-left: $g1;
  padding-right: $g1;
  @include form-default-1();
  text-align: center;
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
  border-radius: 5px;
  cursor: pointer;

  @include hover-supported() {
    opacity: 0.9;
  }
  @extend %btn-color;

  > span,
  > i {
    vertical-align: middle;
  }

  &.small {
    @include form-small();
    padding-left: $g0;
    padding-right: $g0;
    min-width: $form-size-small;
  }

  &[disabled] {
    background-color: $color-c !important;
    box-shadow: 0 0 0 1px $color-7 !important;
    color: $color-7 !important;
  }

  &.loading {
    opacity: 0.5 !important;
    cursor: wait !important;
  }
}

.btn {
  @extend %btn;
}

.btn-circle {
  display: inline-block;
  min-width: initial !important;
  vertical-align: middle;
  width:$form-size-default;
  height:$form-size-default;
  line-height: calc(#{$form-size-default} - 2px);
  border-radius: 100%;
  font-size: $font-size-4;
  background-color: $color-e;
  color: $color-main;
  text-align: center !important;

  @include hover-supported() {
    color: $color-warning;
  }

  &.small {
    width: $form-size-small;
    height: $form-size-small;
    line-height: calc(#{$form-size-small} - 2px);
  }

  &.orange {
    background-color: $color-warning !important;
    color: $color-f !important;
  }
}
