@import "~@/common/scss/base/_defined.scss";

.dropdown {
    position: relative;
    flex-shrink: 0;

    >a:first-of-type {
        padding-left: $g1;
        padding-right: $g1;
        @include form-default-1();
        box-shadow: 0 0 0 1px $color-border;
        border-radius: 5px;
        position: relative;

        >span, >i {
            vertical-align: middle;
        }

        &:after {
            @extend %icon;
            content: $icon-angle-left;
            transition: transform $animation-time;
            width: $g3;
            height: $form-size-default;
            line-height: $form-size-default;
            display: inline-block;
            position: absolute;
            right: 0;
            top:0;
            text-align: center;
            font-size: 1rem;
        }
    }

    >a:first-of-type, >.dropdown-list>a {
        display: block;
        @include singleline();
        @include form-default-1();
        padding-left: $g1;
        padding-right: $g1;
        background: $color-f;
        color: $color-main;

        @include hover-supported() {
            color: $color-warning;
        }

        >span, >i {
            vertical-align: middle;
        }

        >i {
            font-size: $font-size-4;
        }
    }

    >.dropdown-list {
        position: absolute;
        z-index: $ui-dropdown-index;
        background: $color-f;
        top: $form-size-default;
        left: 0;
        margin-top: $gxs;
        border: 1px solid $color-e;
        min-width: 100%;
        max-height: $form-size-default * 6.5;
        transition: transform $animation-time .25s;
        transform-origin: top;
        transform: scaleY(0);
        overflow-y: auto;

        >a {
            padding: 0 $g1;
            border-color: $color-e;
            box-shadow: none;
            border-top: 0;
        }
    }

    &.small {
        height: $form-size-small;

        >a:first-of-type, >.dropdown-list>a {
           @include form-small();
           padding-left: $g0;
           padding-right: $g0;
        }

        >a:first-of-type {
            &:after {
                height: $form-size-small;
                line-height: $form-size-small;
            }
        }

        >.dropdown-list {
            top: $form-size-small;
            max-height: $form-size-small * 8.5;
        }
    }

    &.disabled {
        pointer-events: none;

        >a:first-of-type {
            background-color: $color-e;
        }
    }

    &.hoverable {
        &.animating {
            pointer-events: none;
        }

        @include hover-supported() {
            >a:first-of-type {
                &:after {
                    transform: rotateZ(-90deg);
                    transition-delay: 0s !important;
                }
            }

            >.dropdown-list {
                transform: scaleY(1);
                transition-delay: 0s !important;
            }
        }
    }

    &.active {
        >a:first-of-type {
            &:after {
                transform: rotateZ(-90deg);
                transition-delay: 0s !important;
            }
        }

        >.dropdown-list {
            transform: scaleY(1);
            transition-delay: 0s !important;
        }
    }

    &.right {
        >.dropdown-list {
            left: auto;
            right: 0;
        }
    }

    &.link {
        display: inline-block;
        vertical-align: middle;

        >a:first-of-type {
            border: transparent;
        }
    }
}

.body-dropdown-show, .body-dropdown-show body {
    overflow: hidden;
}